<footer>

    <div class="footer f-info" >
        
        <div class="footer-text">
            <p>© 2025 <b>FreshCart</b> eCommerce website Apliation . All rights reserved. Powered by</p>
        </div>
        <div class="footer-icon"> 
           <div>
            <p class="line"> <b>Fallow us on</b> &nbsp; &nbsp; <i class="fa-brands fa-square-facebook line-icon"></i>&nbsp;
                <i class="fa-brands fa-instagram line-icon"></i></p>
           </div>
            
        </div>
    </div>
 
</footer>