<%- layout("/layouts/boilerplate") %>
<div class="big-contener">
    <div class="row">
<div class="row mt-4">
    <div class="alert alert-warning col-6 offset-3" role="alert">
        <p class="alert-heading"><%= err.message %></p>
    </div>
</div>
</div>
</div>