<% layout("/layouts/boilerplate.ejs") %>
<div class="big-contener">
<div class="row">
    <h3 class="offset-2  mb-4">For Address</h3>

    <div class="col-8 offset-2 ">
    <form action="/place-order" class="needs-validation" method="post" >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" placeholder="Name" class="form-control" required id="name">

            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">write title here</div>
        </div>

        

        <div class="mb-3">
            <label for="area" class="form-label" >Area/Locality</label>
            <textarea name="area" id="" class="form-control" required id="area" placeholder="enter your address"></textarea>
            <div class="invalid-feedback">Please enter short Description</div>
        </div>
      
        <div class="row">
            <div class="mb-3 col-md-6 ">
                <label for="number" class="form-label">Phone No</label>
                <input name="number"  required class="form-control" id="number" maxlength="10" placeholder="Mobile-no">
                <div class="invalid-feedback">Price should be valid</div>
            </div>
        
            <div class="mb-3 col-md-6">
                <label for="pincode" class="form-label">Pin Code</label>
                <input name="pincode" required class="form-control" maxlength="6" id="pincode" placeholder="Area-pincode">
                <div class="invalid-feedback">Price should be valid</div>
            </div>
          </div>
      
           
          <div class="row" >
            <div class="mb-3 col-md-6" >
                <label for="state"> State</label>
               <select name="state" id="state" class="form-select form-select-lg mb-3" aria-label="Large select example" required>
                <option value="">Select</option>
                <option value="uttarPradesh">Uttar Pardesh </option>
                <option value="Maharastra">Maharastra</option>
                <option value="Bihar">Bihar</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Bengal">Bengal</option>
               </select>
            </div>
        

            <div class="mb-3 col-md-6" >
                <label for="district" class="form-label">Destrict</label>
               <select name="district" id="district" class="form-select form-select-lg mb-3" aria-label="Large select example" required>
                <option value="">Select Destrict</option>
               </select>
            </div>
          </div>
      
        <br>
        <button class="btn btn-dark add-btn" >Add</button>
        <br><br>
    </form>
    </div>
</div>

</div>