<% layout("layouts/boilerplate.ejs") %>
<body>


    <div class="big-contener" style="display: flex; justify-content: center; align-items: center;">
        
        <div class="thank-you-container">
            <h1>🎉 Thank You for Shopping! 🎉</h1>
            <p>Your order has been placed successfully.</p>
            <a href="/cards" class="btn btn-success btn-home">Go to Cart</a>
        </div>
    </div>

    </div>
    </div>

</body>
</html>
